/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 30px; /* not the case of inheritance */
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header{
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(5, 201, 51,0.7),rgba(124, 252, 154,0.7)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;

  /*clips  the image in the shape we want it to be clockwise direction*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo{
  position: absolute;
  top: 15px;
  left: 15px;
}
.logo img{
  height: 35px;
}

.text-heading{
  color: #fff;
  text-transform: uppercase;
  /* centering the element in the middle of the screen */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

  text-align: center;
  
  /* fix for shaky container */
  backface-visibility: hidden;
}
.text-primary{
  display: block;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 35px;

  /*add animation */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
  animation-delay: 3s;
  animation-iteration-count:3;
  */
}
.text-secondary{
  display: block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 16.8px;

  /*animation */
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* short hand
  animation: moveInRight 1s ease-out;
  */
}

.btn{
  background-color: #fff;
  text-decoration: none;
  padding: 15px;
  border-radius: 600px;
}


@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
